input{
    padding: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    width: 30%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    font-family: 'Open Sans';
}